<div class="testimonial-slider">
    {% for block in section.blocks %}
        
    <div class="testimonial-card">
        <div class="testimonial-icon">
            {%render "icon-quotes"%}
        </div>
        <div class="testimonial-text">
            {{block.settings.testimonial}}
        </div>
        <div class="testimonial-image">
            <img src="{{block.settings.customer_image | img_url:'300x'}}" alt="">
        </div>
        <div class="testimonial-name">
            {{block.settings.customer_name}}
        </div>
    </div>
    {% endfor %}
</div>

{% schema %}
{
    "name": "Testimonial Slider",
    "blocks":[
        {
            "type": "testimonial",
            "name": "Testimonial",
            "settings":[
                {
                    "type": "richtext",
                    "id": "testimonial",
                    "label": "Customer's Testimonial"
                },
                {
                    "type": "image_picker",
                    "id": "customer_image",
                    "label": "Customer's Image"
                },
                {
                    "type": "text",
                    "id": "customer_name",
                    "label": "Customer's Name"
                }
            ]
        }
    ],
    "presets":[
        {
            "name": "Testimonial Slider"
        }
    ]
   
}
{% endschema %}